<h1>Edit Volunteer</h1>

<form action="/project/<%= @volunteer.id %>/volunteer" method="post">
  <div class="form-group">

    <input type="hidden" name="_method" value="patch">
    <label>Edit Volunteer Name</label>
    <input type="text" name="volunteer_name">
    <button type="submit">Update</button>
  </div>
</form>
<form action="/project/<%= @volunteer.id %>/volunteer" method="post">
 <input type="hidden" name="_method" value="delete">
 <button type="submit">Delete Project</button>
</form>
